/* Medium Size */
@media screen and (min-width: 40em) {
    .div-container {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .navList {
        display: flex !important;
    }
    li {
        order: 1;
        width: auto;
        display: flex;
    }
    li a {
        width: 100%;
        border-bottom: 3px solid #ffffff00;
        padding-top: 1.27em;
        padding-bottom: 0.8em;
        /* font-weight: 300; */
    }
    li a:hover {
        /* color: #dfdfdf; */
        text-decoration: none;
    }
    .current a, li a:hover {
        border-bottom: 3px solid #63a4ff;
    }
    li a:active {
        color: var(--nav-ftr-clr);
        border-bottom: 3px solid #63a4ff;
    }
    .toggle {
        display: none;
    }
    .logo {
        order: 0;
    }
    .current a {
        font-weight: 300;
    }
    .content {
        margin: auto;
        max-width: 60em;
    }
    /* .container {
        background-image: url("../images/family-owned.png");
    } */
    #contact-form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #contact-form > label:nth-child(1) {
        flex: 1 0 50%;
        padding-right: 0.50em;
    }
    #contact-form > label:nth-child(2) {
        flex: 1 0 50%;
        padding-left: 0.50em;
    }
    #contact-form > label:nth-child(3) {
        flex: 1 0 50%;
        padding-right: 0.50em;
    }
    #contact-form > label:nth-child(4) {
        flex: 1 0 50%;
        padding-left: 0.50em;
    }
    #contact-form > label:nth-child(5) {
        flex: 1 0 100%;
    }
}

/* Large Size */
@media screen and (min-width: 63em) {
    .div-container {
        max-width: 90em;
    }
}