/* @-ms-viewport{
    width: device-width;
} */

:root {
    --primary-color: #1976d2;
    --secondary-color: #4890EF;
    --shadows: rgba(0, 0, 0, 0.03) 0 3px 9px 0, rgba(0, 0, 0, 0.02) 0 10px 20px 0;
    --nav-ftr-clr: #fff;
}
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html, body {
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
}
html {
    width: 100vw;
    overflow-x: hidden;
    height: 100%;
    font-family: normal, 'Roboto', sans-serif;
    letter-spacing: 0.05em;
    font-size: 0.9em;
}
body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: stretch; */
}
main {
    background-color: #f8f8f8;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
h1 {
    text-align: center;
    font-weight: 400;
}
ul {
    list-style-type: none;
}
a:hover {
    text-decoration: underline;
}
a {
    color: black;
    text-decoration: none;
}
p {
    color: #696969;
}



/* z-index */
nav, footer {
    z-index: 5;
}
main {
    z-index: 1;
}

/* label span, .content p, footer {
    font-size: 0.9em;
} */


/* ********** Navigation Menu ********** */
nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: var(--shadows);
    -moz-box-shadow: var(--shadows);
    -webkit-box-shadow: var(--shadows);
    background-color: var(--primary-color);
}
nav > header {
    display: flex;
    align-items: center;
    flex-grow: 1;
}
.navList {
    display: none;
}
.menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style-type: none;
    align-items: center;
}
.menu li {
    white-space: nowrap;
}
.logo, .toggle {
    margin: .7em 1em;
}
.logo {
    flex-grow: 1;
}
.logo a {
    font-size: 1.7em;
    font-weight: 400;
    color: var(--nav-ftr-clr);
}
.logo a:hover {
    text-decoration: none;
}
.toggle {
    order: 1;
}
.toggle a {
    color: #ffffffcc;
    border: 1px #ffffffcc solid;
    text-decoration: none;
    padding: 0.25em;
    border-radius: 5px;
    font-weight: 300;
}
.toggle.active a {
    color: var(--nav-ftr-clr);
    border: 1px var(--nav-ftr-clr) solid;
}
li {
    width: 100%;
    text-align: center;
    order: 2;
    /* padding: 0.7em 0; */
}
li:hover {
    background-color: #1565c0;
}
li a {
    display: block;
    color: #dfdfdf;
    font-weight: 300;
    padding: 0.6em;
}
li a:hover {
    color: var(--nav-ftr-clr);
    text-decoration: none;
}
.current a {
    color: var(--nav-ftr-clr);
    font-weight: 500;
}



/* Header */
/* header.container {
    position: relative;
    text-align: center;
    background: #000;
    width: 100%;
}
.container {
    background-image: url("../images/family-owned-mobile.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 35vh;
    display: flex;
}
.h-image {
    width: 100%;
    height: 30em;
}
.h-content {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.h-content h1 {
    color: #ffffff;
    text-align: center;
}
.h-content p {
    color: #d2d2d2;
} */



/* ********** Main ********** */
main {
    padding: 2em 1em;
}
.top-banner-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 350px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-content: center;
    /* justify-content: center; */
}
.banner-image-div {
    grid-area: 1 / 1 / 2 / 2;
}
.banner-overlay-div {
    grid-area: 1 / 1 / 2 / 2;
}
.banner-text-div {
    grid-area: 1 / 1 / 2 / 2;
}
.banner-image {
    display: grid;
    min-width: 350px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner-overlay-div {
    display: grid;
    max-width: 100%;
    background: linear-gradient(
      60deg,
      rgba(0, 0, 0, 0.777) 30%,
      rgba(255, 255, 255, 0) 100%
    ); 
}
.banner-text-div {
    display: grid;
    align-items: center;
    justify-content: center;
    font-weight: lighter;
    margin-left: 15px;
    margin-right: 15px;
}
.banner-h1-text {
    font-size: calc(20pt + 0.15vw);
    letter-spacing: 0.05em;
    color: rgb(255, 255, 255);
}
.content {
    /* background-color: #fff; */
    flex-grow: 1;
    /* box-shadow: var(--shadows);
    -moz-box-shadow: var(--shadows);
    -webkit-box-shadow: var(--shadows); */
}



/* ********** Form ********** */
#contact-form input[type="text"], #contact-form input[type="email"], #contact-form input[type="tel"], #contact-form textarea {
    width: 100%;
    box-shadow: inset 0 1px 2px #dddddd, 0 1px 0 #ffffff;
    -webkit-box-shadow: inset 0 1px 2px #dddddd, 0 1px 0 #ffffff;
    -moz-box-shadow: inset 0 1px 2px #dddddd, 0 1px 0 #ffffff;
    border: 1px solid #ddd;
    background-color: #f1f1f1;
    margin: 0.2em 0 1.2em;
    padding: 0.5em;
    border-radius: 5px;
    font-family: inherit;
    font-size: inherit;
}
#contact-form input[type="text"]:focus, #contact-form input[type="email"]:focus, #contact-form input[type="tel"]:focus, #contact-form textarea:focus {
    background-color: #fcfcfc;
    border: 1px solid var(--primary-color);
}
textarea {
    resize: vertical;
    min-height: 6em;
}
#contact-form button[type="submit"] {
    cursor: pointer;
    font-size: 1em;
    width: 100%;
    border: none;
    transition: background-color 0.2s linear 0s;
    background-color: var(--primary-color);
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
}
#contact-form button[type="submit"]:hover {
    transition: background-color 0.2s linear 0s;
    background-color: rgb(31, 144, 236);
}



/* ********** Footer ********** */
footer {
	display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
    text-align: center;
    box-shadow:
        0 -2px 2.5px rgba(0, 0, 0, 0.034),
        0 -5px 5px rgba(0, 0, 0, 0.048);
    /* background-color: #414756; */
    background-image: linear-gradient(to top, var(--primary-color) 0%, var(--secondary-color) 100%);
}
footer p {
    padding-bottom: 1em;
    color: #d2d2d2;
}
footer p a, address a {
    color: var(--nav-ftr-clr);
}