@-ms-viewport{
    width: device-width;
}
* {
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: normal, 'Roboto', sans-serif;
    background: #222f3a;
}
nav {
    margin: 0.0em;
}
main {
    background: #ffffff;
}
ul {
    list-style-type: none;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
p {
    color: #696969;
}



/* Navigation Menu */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.menu li {
    /* font-size: 1em; */
    /* margin: 1em; */
    white-space: nowrap;
}
.logo, .toggle {
    margin: 1em;
}
.logo a {
    font-size: 1.4em;
}
.logo a:hover {
    text-decoration: none;
}
.toggle {
    order: 1;
}
.toggle a {
    color: #ffffffcc;
    font-size: 1.1em;
    text-decoration: none;
    padding: 0.3em;
    border: 1px #ffffff3c solid;
}
.toggle.active a {
    color: #ffffff;
    border: 1px #ffffff solid;
}
.item {
    width: 100%;
    text-align: center;
    order: 2;
    display: none;
    margin: 1em 0em;
}
.item a {
    margin: 1em 0em;
}
.item.active {
    display: block;
}
.current a {
	border-bottom: 1px solid #ffffff;
}



/* Header */
.container {
    position: relative;
    text-align: center;
}
.overlay {
    background-color: #0000006b;
    height: 98.2%;
    width: 100%;
    position: absolute;
}
.h-image {
    width: 100%;
    height: auto;
}
.h-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.h-text h1 {
    font-size: 2em;
    color: #ffffff;
}
.h-text p {
    color: #d2d2d2;
}



/* Content */
.content {
    padding: 1.5em 1em;
}
.content header {
    font-size: 1.7em;
    text-align: center;
    padding-bottom: 0.5em;
}



/* Footer */
footer {
	display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
    text-align: center;
    font-size: 1.2em;
}
footer div {
    padding: .3em;
}
footer p {
    color: #c4c4c4;
}


/* Forms */
#contact-form input[type="text"], #contact-form input[type="email"], #contact-form input[type="tel"], #contact-form textarea {
    width: 100%;
    box-shadow: inset 0 1px 2px #DDD, 0 1px 0 #FFF;
    -webkit-box-shadow: inset 0 1px 2px #DDD, 0 1px 0 #FFF;
    -moz-box-shadow: inset 0 1px 2px #DDD, 0 1px 0 #FFF;
    border: 1px solid #CCC;
    background: #FFF;
    margin: 3px 0 20px;
    padding: 10px;
    border-radius: 5px;
}



textarea {
    resize: vertical;
    min-height: 6em;
}



#contact-form button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #991D57;
    background-image: linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
    background-image: -moz-linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
    background-image: -webkit-linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
    color: #FFF;
    padding: 10px;
    border-radius: 5px;
}



/* Tablet menu */
@media all and (min-width: 600px) {
    .menu {
        justify-content: center;
    }
    .logo {
        flex: 1;
    }
    .toggle {
        flex: 1;
        text-align: right;
    }
    .toggle {
        order: 1;
    }
}




/* Desktop menu */
@media all and (min-width: 900px) {
    .item {
        display: block;
        width: auto;
    }
    .toggle {
        display: none;
    }
    .logo {
        order: 0;
    }
    .item {
        order: 1;
    }
    .menu li {
        padding: 15px 10px;
    }
}